<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Event Details</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen"
      style="
          background-image: url('/images/background.png');
          background-size: cover;
          background-position: center;
          background-attachment: fixed;">

<!--<nav class="bg-amber-800 text-white p-5 flex gap-8 shadow-lg">-->
<!--    <a th:href="@{/}" class="font-bold">HOPE NGO</a>-->
<!--    <a th:href="@{/}">Home</a>-->
<!--    <a th:href="@{/new}">About</a>-->
<!--    <a th:href="@{/about}">Contact</a>-->
<!--</nav>-->
<nav class="bg-amber-800 text-white p-5 flex gap-8 shadow-lg">

    <a th:href="@{/}" class="font-bold hover:text-amber-200 transition">
        Hope NGO
    </a>
    <a th:href="@{/}" class="hover:text-amber-200 transition">
        Home
    </a>

    <a th:href="@{/new}" class="hover:text-amber-200 transition">
        New
    </a>

    <a th:href="@{/about}" class="hover:text-amber-200 transition">
        About
    </a>

    <a th:href="@{/contact}" class="hover:text-amber-200 transition">
        Contact
    </a>

</nav>
<div class="max-w-4xl mx-auto mt-10 p-8
            bg-white/70
            backdrop-blur-md
            rounded-3xl
            shadow-2xl
            border border-white/40">

    <h1 class="text-3xl font-bold mb-6">Event Details</h1>

    <div class="space-y-4">

        <div>
            <strong>Title:</strong>
            <p th:text="${event.title}"></p>
        </div>

        <div>
            <strong>Organization:</strong>
            <p th:text="${event.organization}"></p>
        </div>

        <div>
            <strong>Description:</strong>
            <p th:text="${event.description}"></p>
        </div>

        <div>
            <strong>Email Contact:</strong>
            <p th:text="${event.emailContactPerson}"></p>
        </div>

        <div>
            <strong>Date & Time:</strong>
            <p th:text="${event.time}"></p>
        </div>

    </div>

    <div class="mt-6">
        <a th:href="@{/}"
           class="bg-gray-500 text-white px-4 py-2 rounded">
            Back
        </a>
    </div>

</div>

<footer class="text-center mt-10 p-4">
    © 2026 Hope NGO
</footer>

</body>
</html>