<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NGO Events</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen"
      style="
          background-image: url('/images/background.png');
          background-size: cover;
          background-position: center;
          background-attachment: fixed;">

<nav class="bg-amber-800 text-white p-5 flex gap-8 shadow-lg">
    <a th:href="@{/}" class="font-bold">HOPE NGO</a>
    <a th:href="@{/}">Home</a>
    <a th:href="@{/about}">About</a>
    <a th:href="@{/contact}">Contact</a>
</nav>

<!--<div class="max-w-5xl mx-auto mt-10 bg-white p-6 rounded shadow">-->
<div class="max-w-4xl mx-auto mt-10 p-8
            bg-white/70
            backdrop-blur-md
            rounded-3xl
            shadow-2xl
            border border-white/40">

    <h1 class="text-3xl font-bold mb-6">
        Latest Events
    </h1>

    <table class="w-full border">

        <thead class="bg-gray-200">
        <tr>
            <th class="p-3 border">Title</th>
            <th class="p-3 border">Organization</th>
            <th class="p-3 border">Details</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="event : ${events}">
            <td class="p-3 border" th:text="${event.title}"></td>
            <td class="p-3 border" th:text="${event.organization}"></td>

            <td class="p-3 border text-center">
                <a th:href="@{/details/{id}(id=${event.id})}"
                   class="bg-amber-800 hover:bg-amber-900 text-white px-4 py-2 rounded-xl shadow-md transition duration-300">
                    View
                </a>
            </td>
        </tr>

        </tbody>

    </table>
    <div class="mt-6 text-center">
        <a th:href="@{/new}"
           class="bg-amber-800 hover:bg-amber-900 text-white px-6 py-3 rounded-xl shadow-lg transition duration-300">
            Add New Event
        </a>
    </div>

</div>

<footer class="text-center mt-10 p-4">
    © 2026 Hope NGO
</footer>

</body>
</html>